<div>
  <div class="mainHeader">
    <button title="Download PDF" class="buttonStyle" (click)="generatePDF()"><i
        class="fa fa-download downloadIcon"></i></button>
    <button title="Generate Base64" class="base64Btn" (click)="generateBase64()">Base64</button>
  </div>
  <textarea class="fileName" cols="30" rows="10" [(ngModel)]="pdfFileName"></textarea>

  <div id="content">
    <!--.....................START............. YOU CAN CHNAGE THIS HTML ACCORDINGLY .......................................-->
    <div class="main">
      <div class="top-section">

        <p class="p1">MANOJ <span>ADHIKARI</span></p>
        <p class="p2">UI / UX Designer</p>
      </div>

      <div class="clearfix"></div>

      <div class="col-div-4">
        <div class="content-box" style="padding-left: 40px;">
          <div class="profile-img">
            <img src="assets/flowers.jpg" alt="">
          </div>
          <p class="head">Contact</p>
          <p class="p3"><img src="assets/phone.png" style="width: 11px;" alt=""> &nbsp;&nbsp;898392888</p>
          <p class="p3"><img src="assets/mail.png" style="width: 11px;" alt=""> &nbsp;&nbsp;dummymail.com</p>
          <p class="p3"><img src="assets/home.png" style="width: 11px;" alt=""> &nbsp;&nbsp;United Kingdom</p>

          <br />
          <p class="head">my skills</p>
          <ul class="skills">
            <li><span>Web Design</span></li>
            <li><span>Grapic Design</span></li>
            <li><span>HTML-5</span></li>
            <li><span>CSS-3</span></li>
            <li><span>Java Script</span></li>
            <li><span>Jquery</span></li>

          </ul>

          <br />
          <p class="head">awards</p>
          <p class="p3">CSS Design Awards</p>
          <p class="p3">D&AD Awards</p>
          <p class="p3">CSS Winner Awards</p>
          <p class="p3">The Shorty Awards</p>
          <p class="p3">Awwwards</p>



          <br />
          <p class="head">Languages</p>
          <p class="p3">Hindi</p>
          <p class="p3">English</p>
        </div>
      </div>
      <div class="line"></div>
      <div class="col-div-8">
        <div class="content-box">
          <p class="head">profile</p>
          <p class="p3" style="font-size: 14px;">Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book.<br />

            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          <br />
          <p class="head">EXPERIENCE</p>

          <p>UI DESIGNER IN LOREM IPSUM (2018 - NOW)</p>
          <p class="p-4">
            Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The
            Industry's Standard Dummy Text Ever Since The 1500s, When An Unknown Printer Took A Galley Of Type And
            Scrambled It To Make A Type Specimen Book.</p>

          <p>UI DESIGNER (2013 - 2015)</p>
          <p class="p-4">
            Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The
            Industry's Standard Dummy Text Ever Since The 1500s
          </p>

          <p>GRAPIC DESIGNER(2010)</p>
          <p class="p-4">
            Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The
            Industry's Standard Dummy Text Ever Since The 1500s, When An Unknown Printer Took A Galley Of Type And
            Scrambled It To Make A Type Specimen Book.</p>


          <br />

          <p class="head">Education</p>
          <p class="p-4">HIGH SCHOOL OF CBSE (2009 - 2010)</p>
          <p class="p-4">BACHELOR OF COMPUTER APPLICATION (2013 - 2015)</p>
          <p class="p-4">MASTER OF COMPUTER APPLICATION (2015 - 2018)</p>

        </div>
      </div>

      <div class="clearfix"></div>
    </div>
    <!--..................END................ YOU CAN CHNAGE THIS HTML ACCORDINGLY .......................................-->
  </div>
  <div *ngIf="base64">
    <button class="base64Btn" [cdkCopyToClipboard]="base64Code">Copy</button>
  </div>
  <div *ngIf="base64" class="base64">
    <textarea class="base64Code" id="clipboard-example-textarea" cols="30" rows="10"
      [(ngModel)]="base64Code"></textarea>
  </div><br>

  <div *ngIf="pdf" class="flex justify-center " style="margin:20px;">
    <ngx-extended-pdf-viewer [base64Src]="pdfSrc" theme="dark" backgroundColor="#151922a8" [useBrowserLocale]="true"
      [showOpenFileButton]="false" filenameForDownload="{{fileNameForDownload}}" class="w-full"
      style="display: block;height: 775px;"></ngx-extended-pdf-viewer>
  </div>



</div>